.git/**
.github/**
.vscode/**
.gitignore
.vscodeignore
.prettierrc
.prettierrc.*
src/**
node_modules/**
docs/**
tsconfig.json
esbuild.mjs
eslint.config.mjs
*.vsix
**/*.ts
**/*.map
dist/**
!dist/extension.js
